
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: flex;
    flex-direction: column;
    max-width: 100%; overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    gap: 20px;
}
h1 {
    color: #333;
    text-align: center;
    font-size: 280%;
    margin-top: 20%;
    margin-bottom: 40px;
}
h2 {
    text-align: center;
    color: #333;
    font-size: 200%;
    max-width: 60%;
    margin: 0 auto 40px auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
p {
    color: #666;
    font-size: 150%;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}
.top-bar {
    position: fixed;
    width: 100%;
    display: flex;
    left: 0;
    justify-content: space-evenly;
    top: 0;
    background-color: #333;
    overflow: hidden;
}

.top-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-bar a:hover {
    text-decoration: underline;
    color: #f2f2f2;
}
.top-bar a.active {
    text-decoration: underline;
    color: #f2f2f2;
}
.flex {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}   
.home-text {
    margin-bottom: 11%;
}
.div1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding: 5%;
    margin-right: -1%;
}
.div1 img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.div2 {
    flex: 2;
    max-width: 50%;
    padding: 5%;
    margin-left: -1%;
}
.div2 h2 {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.div2 p {
    margin: 0;
    text-align: center;
}